@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
:root {
    --primary-color: #8B5CF6;
    --dark-grey: #6B7280;
    --off-white: #F3F4F6;
    --button-color: #4C1D95;
    --shade-pink: #DDD6FE;
}

body {
    font-family: 'ZCOOL XiaoWei', serif;
}

/** container **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 800px;
    margin: auto;
}

/** links **/
/**here, text decoration:none is used for removing the underline in the link that comes by default**/
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    padding: 0.5rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;

}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1.5px solid var(--primary-color);
}

/**lists**/
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/**navigarion**/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .link {
    color: white;
}

/**there should be space between the two selectors. this is inheritence..**/
.navigation .nav-pills {
    text-align: right;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: larger;
}

.navigation .link-active {
    font-weight: bold;
}

.navigation .button-design {
    background-color: var(--button-color);
    border-radius: 0.5rem;
    color: white;

}

/**header**/
.hero {
    padding: 2rem;

}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading-one {
    padding-top: 1rem;
    color: var(--dark-grey);
    text-align: center;
}

.hero .hero-heading-two {
    padding-top: 1rem;
    color: var(--dark-grey);
    text-align: left;
}

 .heading-focus {
    color: var(--primary-color);
}

/**section**/
.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;

}

.off-white {
    background-color: var(--off-white);
    border-radius: 1rem;
}

.shade-of-pink {
    background-color: var(--shade-pink);
    border-radius: 10rem;
    padding-top: 1rem;
    padding-bottom: 2rem;

}


/**footer**/
.footer {
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    color: white;
    border-top-right-radius: 1rem;
    text-align: center;

}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer .link {
    color: white;
}


.padding-right {
    padding-right: 1rem;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.design-two {
    background-color: var(--button-color);
    border-radius: 0.5rem;
    color: white;
}

/**image-small**/
.image-small {
    padding-left: 1rem;
    max-width: 20px;
   margin:auto;

}
.image-average{
    padding:0.5rem;
    max-width: 150px;
    margin:auto;
    position:relative;
    top:40px;
}

/**spaces **/
.margin-medium {
    margin: 2rem;
}
